/****** Alter as Need Be *********/
:root {
    --side-space: 15vmin;
    --side-space--mobile: 5vmin;
    --main-font:'Cormorant Garamond', Georgia, Garamond, serif; 
    --title-font: 'Cormorant Garamond', Georgia, Garamond, serif; 
    --header-font: 'Cormorant Garamond', Georgia, Garamond, serif; 
    --font-size:  1em; 
    --line-height: 1.2;
    --bgcolor: #465c69;
    --footer-bgcolor: #13262F;
    --secondary-color: #878e88;
    --dark-color: #18314f;
    --primary-color:#384e77;
    --light-color: #fcfaf9; 
    --accent-color: #d72638;; 
    --sticky-size-large-height: 80vh; 
    --sticky-size-small-height: 30vh; 

  }


.primary-color{
    color: var(--primary-color); 
}

.secondary-color{
    color: var(--secondary-color);
}

.light-color{
    color: var(--light-color);
}

.dark-color{
    color: var(--dark-color);
}

.accent-color{
    color: var(--accent-color); 
}