@import '01-settings.css'; 

.background-iframe{ 
    position: absolute; 
    float: left; 
    clear: both;
    width: 100%;
    height: 350px; 
    z-index: 0; 
    left: no-repeat; 
}

.break {
    padding: 0;
    max-width: 40rem;
    margin-top: 10%;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.break p{
    font-size: 3rem; 
    text-align: center; 
    position: relative;
    color: var(--dark-color); 
}

.wide {
    max-width: 60rem; 
}

  #intro {
    max-width: 40rem;
    margin: 1rem auto;
    margin-top: 35vh; 
    margin-bottom: 55vh;
    text-align: center;
  }
  
  .intro__hed {
    margin: 2rem auto 0.5rem auto;
  }

  .intro__dek{
    margin-top: 50px; 
    font-size: 3rem; 
    max-width: 650px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
  }
  
  #outro {
    margin: 20%; 
  }
  
  /*  Block Quotes */
  
  blockquote{
    background-color: transparent;
    margin: 0 0 20px;
    position: relative;
    font-size: 2rem;
    font-family: var(--header-font); 
    display: block; 
    color: var(--light-color); 
    font-style: italic; 
  }
  
  /* blockquote::before{
    content: "\201C"; 
    
    font-family: Georgia, serif;
    font-size: 40px;
    font-weight: bold;
    color: #999;
    

    position: relative;
    left: 0px;
    top:10px;
  }
  */


#news-quotes{
  padding-bottom: 100px; 
  /*background-image: linear-gradient(white, var(--light-color));*/
}
.quote-block{
    position: relative;
    display: block; 
    max-width: 575px; 
    min-height: 200px;

}

figcaption{
  float: right; 
  margin-bottom: 100px; 
  white-space: no-wrap;
  color: var(--dark-color); 
}
  

cite{
  white-space: no-wrap;
}

  /* stying modifications */
  



.vertical-break{
  writing-mode: vertical-rl; 
  text-orientation: upright;
  font-size: 3.3rem; 
}

#credits{
  padding: 150px; 
  line-height: 120%; 
}

#credits p {
  font-size: 14px; 
}