@import url('01-settings.css'); 

.sticky-thing {
    display: flex; 
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    overflow: hidden;
}

.iframe { 
    flex-grow: 1; 
    border: none; 
    margin: 0; 
    padding: 0; 
    width: 80%; 
    height:85%; 
}

.sticky-size-large{
    height: 757px;    
    width: 100%;  
}


.sticky-size-small{
    height: var(--sticky-size-small-height);    
    width: 100%;  
}

.no-show{
    display: none !important; 
    background-color: none; 
}
